<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.igniterealtime.openfire.plugin.mucrtbl.MucRealTimeBlockListPlugin</class>
    <name>${project.name}</name>
    <description>${project.description}</description>
    <author>Guus der Kinderen</author>
    <version>${project.version}</version>
    <date>2024-08-23</date>
    <minServerVersion>4.8.1</minServerVersion>

    <adminconsole>
        <tab id="tab-groupchat">
            <sidebar id="sidebar-groupchat-settings">
                <item id="mucrtbl" name="${admin.sidebar.mucrtbl.name}" description="${admin.sidebar.mucrtbl.description}" url="mucrtbl.jsp"/>
            </sidebar>
        </tab>
    </adminconsole>

</plugin>
